
/* <!-- header start --> */

/* fonts links */
@font-face{
    font-family:  'Oxanium';
    src:url(../Oxanium/Oxanium-VariableFont_wght.ttf)
}

@font-face{
    font-family: 'Work Sans';
    src:url(../Work_Sans/WorkSans-VariableFont_wght.ttf);

}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
:root{
    --font1:'Work Sans';
    --font2:'Oxanium';
    --page-title-text-color:#F5FBF2;
    --text-color-whiteblack:#9B9E9A;
    --color-yellow: #FFCE4E;
    --card-bg-color:#3D2942;
    --card-button-text-color-white: #FFFFFF;
    --card-none-color: #C6BFC8;
    --icon-bg-color: #372839;
    --color-red: #E03054;
    --color-indigo: #8613A5;
    --button-color-black: #251928;
    --input-text-color:#A48EA9;
    --footer-text-color:#96839B;
    --footer-icon-color:#D53D5C;
    --footer-youtobe-icon-color:#F7D7FF;
    --creators-bg-color:#302034;
}
.wrapper{
  max-width: 1601px;
  margin: 0 auto;
  position: relative;
}
.container{
    max-width: 1388px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    background-image: url(../images/website_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}
/* <!-- header start --> */
.header__wrapper{
    margin: 0 auto;
    max-width: 1601px;
   
}
.header__in{
    padding-top: 37px;
}
.header__logo{
    margin-right: 400px;
}
.nav__link{
    gap: 64px;
    position: relative;
    z-index: 1;
    
}
.nav__item a{
    display: inline-block;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--page-title-text-color);
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: all 0.6s ease;
}
.nav__item a:hover{
    color: var(--color-yellow);
  
    border-bottom: 3px solid var(--color-yellow);
}
.header__btn{
    position: relative;
    z-index: 1;
    border: none;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding: 22px 30px;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid var(--color-yellow);
    color:var(--color-yellow);
    cursor: pointer;

}
/* <!-- header end --> */

/* <!-- home start --> */
.home__wrapper{
  padding-bottom: 200px;
}
.home__info{
  margin-top: 141px;
}
.home__info h1{
    font-family:var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 130px;
    max-width: 710px;
    color:var(--page-title-text-color);
}
.home__info h1  span{
    color: var(--color-yellow);
}
.home__buttons {
    margin-top: 77px;
    margin-bottom: 121px;
}
.home__buttons .bnt1{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color:var(--button-color-black);
    padding: 24px 76px;
    background:var(--color-yellow);
    border: none;
    cursor: pointer;
    margin-right: 48px;
}
.home__buttons .bnt2{
    font-family:var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color:var(--card-button-text-color-white);
    padding: 24px 76px;
    border: none;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid var(--color-yellow);
    cursor: pointer;
}
.statistics{
    max-width: 710px;
    margin-right: 105px;
}
.statistic span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    color: var(--page-title-text-color);
}
.statistic p{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color:var(--text-color-whiteblack);
}
.home__img{
    position: absolute;
    top: -15px;
    right: 0;
    padding: 200px 145px 103px 36px;
    background: rgba(79, 70, 78, 0.45);
    backdrop-filter: blur(15px);
}
.home__img .img__wrapper{
    max-width: 556px;
    position: relative;
}
.home__img .img__wrapper img{
  width: 100%;
}
.home__img__box1{
    gap: 182px;
    position: absolute;
    top: 24px;
    left: 23px;
    right: 23px;
    background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
    opacity: 0.95;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);
    max-width: 512px;
    padding: 18px;
}
.home__img_box1__left{
    margin-left: 39px;
}
.home__img_box1__left p{
    
    font-family: var(--font2);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #E4DEE7;
    margin-bottom: 7px;
}
.home__img_box1__left span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    font-size: 32px;
    line-height: 40px;
    color: var(--card-button-text-color-white);
}
.home__img_box1__right{
    margin-right: 54px;
}
.home__img_box1__right p{
    font-family:var(--font2);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #E4DEE7;
    margin-bottom: 7px;
}
.home__img_box1__right span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    font-size: 32px;
    line-height: 40px;
    color: var(--card-button-text-color-white);
}
.home__img__box2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  padding: 33px 35px;
  background: var(--card-button-text-color-white);
  border-radius: 0px;
}
.home__img__box2__left p{
  font-family:var(--font2);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.07em;
  color: #16091B;
}
.home__img__box2__left span{
    
  font-family:var(--font1);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #594D5E;
}
.home__img__box2__button .btn{
  background: #FFCE4E;
  backdrop-filter: blur(22.5px);
  font-family: var(--font1);
  padding: 23px 44px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

}
/* <!-- home end --> */

/* <!-- Live Auctions start --> */
.testimonial {
    background: var(--button-color-black);
    padding: 80px 0;
    margin-top: 100px;
}
.testimonial .container {
  overflow: hidden;
}
  
  .testimonial .testimonial_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .testimonial .testimonial_head .testimonial_title {
    margin-left: 30%;
  }
  .testimonial .testimonial_head .ellipse {
    width: 110px;
    height: 110px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 60px;
  }
  
  .testimonial .testimonial_head h1 {
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    z-index: 1;
    color: var(--page-title-text-color);
  }
  
  .testimonial .testimonial_head .testimonial_scroll {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .testimonial .testimonial_head .testimonial_scroll div {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
  }
  
  .testimonial .testimonial_head .testimonial_scroll div i {
    color: var(--card-button-text-color-white);
  }
  
  .testimonial .testimonial_head .testimonial_scroll div:hover {
    background: var(--card-button-text-color-white);
  }
  
  .testimonial .testimonial_head .testimonial_scroll div:hover i {
    color: var(--button-color-black);
  }
  
  .testimonial .testimonial_cards {
    overflow-x: hidden;
  }
  
  .testimonial .testimonial_cards ul {
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    gap: 30px;
  }
  .testimonial .testimonial_cards ul li {
    background: var(--card-bg-color);
    width: 495px;
    padding: 32px;
    
  }
  
  .testimonial .testimonial_cards ul li .live_img {
    width: 430px;
    height: 360px;
    position: relative;
  }
  .testimonial .testimonial_cards ul li .live_img .time {
    background: linear-gradient(125.33deg, var(--color-indigo) 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
    opacity: 0.95;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);
    display: inline-block;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #F5FBF2;
    padding: 15px 45px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info {
    margin: 20px 0;
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info img {
    width: 54px;
    height: 54px;
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info .virtual_art {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #F5FBF2;
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info .link_info a {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    align-items: center;
    color: var(--card-none-color);
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info .portfolio_rate i {
    font-size: 30px;
  }
  .testimonial .testimonial_cards ul li .live_cards_text .portfolio_info .portfolio_rate {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: var(--card-none-color);
  }
  .testimonial .testimonial_cards ul li .cards_price h4 {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: var(--card-none-color);
  }
  .testimonial .testimonial_cards ul li .cards_price h3 {
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--page-title-text-color);
  }
  .testimonial .testimonial_cards ul li .cards_btn {
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #FDE8B3;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: var(--card-button-text-color-white);
    padding: 21px 120px;
    margin-top: 25px;
    width: 100%;
  }
  .btn_view {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    
  }
  .view_all {
    background-color: transparent;
    padding: 25px 65px;
    border: 1px solid var(--color-yellow);
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: var(--card-button-text-color-white);
    transition: all 0.5s linear;
  }
  .view_all:hover {
    background-color: var(--color-yellow);
    color: var(--button-color-black);
  }

  .testimonial .testimonial_cards ul::-webkit-scrollbar {
    display: none;
  }
/* <!-- Live Auctions end --> */

/* <!-- How it works  start --> */
.works {
  background: var(--button-color-black);
  padding-bottom: 100px;
}
.works .works_head h1 {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 130px;
  color: var(--page-title-text-color);
  text-align: center;
  padding: 180px 0 50px;
}
.works .box {
  position: relative;
  height: 166px;
}
.works .works_main img {
  padding: 8px;
}
.works .box h2 {
  font-family: var(--font1);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--color-yellow);
  position: absolute;
  top: 130px;
  left: -90px;
  width: 270px;
  z-index: 1;
  text-align: center;
}
/* <!-- How it works  end --> */

/* <!-- Popular Collections start --> */
/* .ww{
    background: #3D2942;
    border: 1px solid black;
} */

/* 
.poputlarButton p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #F5FBF2;    
}
.poputlarButton{
    border: 1px solid #FFCE4E;
}
.poputlarButton:hover{
    border: 1px solid ;
} */
    /* <!-- Popular Collections end --> */

/* <!-- Explore By Categories start --> */

/* <!-- Explore By Categories end --> */

/* <!-- Top Creators start --> */


.top_creators_section{
    margin: 0 auto;
    text-align: center;
    max-width: 1600px;
    height: 930px;
}
.top_creators_header{
    justify-content: center;
}
.top_creators{
    margin-top: 104px;
    /* margin-left: 624px; */
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: white;
    z-index: 1;
}
.creators_circle{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background: #E03054;
    position: relative;
    top: 50px;
    left: 75px;
}
.creators{
    display: flex;
     gap: 72px;
     justify-content: center;
}
.creator{
   display: flex;
   align-items: center;
   max-width: 608px;
   height: 158px; 
   background-color: var( --creators-bg-color);
   box-shadow: inset 2px 0px 0px #E03054;
}
.photo_creator{
    margin-left: 29px;
}
.creator_description{
    margin-left: 24px;
}
.name{
    width: 175px;
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #F5FBF2;
}
.eth{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #BDAAC1;
}
.line{
    max-width: 100px;
    height: 100px;
    margin-left: 100px;
    border: 3px solid rgba(73, 55, 78, 1);
}
.creator .items{
    margin-left: 57px;
    margin-right: 57px;
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #F5FBF2;
}
.creator span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #908294;
}
.creators_two{
    margin-top: 56px;
    display: flex;
     gap: 72px;
     justify-content: center;
}
.photo_creator2{
    margin-left: 29px;
   
}

/* <!-- Top Creators end --> */

/* <!-- Contact start --> */

.contact_nft_drop{
    margin-top: 157px;
    text-align: center;
}
.for_contact{
    max-width: 694px;
    height: 96px;
    /* display: flex; */
    margin: 0 auto;
   border: 1px solid rgb(201, 165, 36);
}
.contact_nft_drop .text{
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    text-align: center;
    color: #F5FBF2;
}
.for_contact input{
    display: inline-block;
    width: 450px;
    height: 94px;
    padding-left: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #A48EA9; 
    border: none;
   background: transparent;
}

.for_contact .btn{
    max-width: 244px;
    padding: 30px 63px;
    background: #E7B226;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #251928;
}
.for_contact .btn:hover{
    background-color: rgb(165, 160, 160);
}

/* <!-- Contact end --> */

/* <!-- Footer start --> */

.footer{
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 236px;
}
.footer_one img{
    max-width: 194px;
    height: 194px;
}
.footer_two{
    margin-left: 51px; 
}
.footer_two .nec{
    max-width: 321px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #96839B;
}
.social_medias{
    display: flex;
    text-align: center;
    gap: 36px;
    margin-top: 61px;
}
.all_right{
    margin-top: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #96839B;
}
.footer_three{
    margin-left: 198px;
    
}
.footer_for{
    margin-left: 227px;
}
.about_nft{
    margin-top: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #96839B;
}
.about{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #F5FBF2;
}

/* <!-- Footer end --> */