
/* fonts links */
@font-face{
    font-family:  'Oxanium';
    src:url(../Oxanium/Oxanium-VariableFont_wght.ttf)
}

@font-face{
    font-family: 'Work Sans';
    src:url(../Work_Sans/WorkSans-VariableFont_wght.ttf);

}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
:root{
    --font1:'Work Sans';
    --font2:'Oxanium';
    --page-title-text-color:#F5FBF2;
    --text-color-whiteblack:#9B9E9A;
    --color-yellow: #FFCE4E;
    --card-bg-color:#3D2942;
    --card-button-text-color-white: #FFFFFF;
    --icon-bg-color: #372839;
    --color-red: #E03054;
    --color-indigo: #8613A5;
    --button-color-black: #251928;
    --input-text-color:#A48EA9;
    --footer-text-color:#96839B;
    --footer-icon-color:#D53D5C;
    --footer-youtobe-icon-color:#F7D7FF;
}
.container{
    max-width: 1388px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    background-image: url(../images/website_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1500px;
}
/* <!-- header start --> */
.header__wrapper{
    margin: 0 auto;
    max-width: 1601px;
   
}
.header__in{
    padding-top: 37px;
}
.header__logo{
    margin-right: 565px;
}
.nav__link{
    gap: 64px;
}
.nav__item a{
    display: inline-block;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--page-title-text-color);
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: all 0.6s ease;
}
.nav__item a:hover{
    color: var(--color-yellow);
  
    border-bottom: 3px solid var(--color-yellow);
}
.header__btn{
    border: none;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding: 22px 30px;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid var(--color-yellow);
    color:var(--color-yellow);
    cursor: pointer;

}
/* <!-- header end --> */

/* <!-- home start --> */
.home__info h1{
    font-family:var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 130px;
    max-width: 710px;
    color:var(--page-title-text-color);
}
.home__info h1  span{
    color: var(--color-yellow);
}
.home__buttons {
    margin-top: 77px;
    margin-bottom: 121px;
}
.home__buttons .bnt1{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color:var(--button-color-black);
    padding: 24px 76px;
    background:var(--color-yellow);
    border: none;
    cursor: pointer;
    margin-right: 48px;
}
.home__buttons .bnt2{
    font-family:var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color:var(--card-button-text-color-white);
    padding: 24px 76px;
    border: none;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid var(--color-yellow);
    cursor: pointer;
}
.statistics{
    max-width: 710px;
    gap: 110px;
}
.statistic span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    color: var(--page-title-text-color);
}
.statistic p{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color:var(--text-color-whiteblack);
}
.home__img{
    padding: 10px;
}
.home__img .img__wrapper{
    max-width: 556px;
    position: relative;
    border: 2px solid red;
}

.home__img__box1{
    gap: 182px;
    position: absolute;
    top: 24px;
    left: 23px;
    right: 23px;
    background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
    opacity: 0.95;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);
    max-width: 512px;
    padding: 18px;
}
.home__img_box1__left{
    margin-left: 39px;
}
.home__img_box1__left p{
    
    font-family: var(--font2);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #E4DEE7;
    margin-bottom: 7px;
}
.home__img_box1__left span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    font-size: 32px;
    line-height: 40px;
    color: var(--card-button-text-color-white);
}
.home__img_box1__right{
    margin-right: 54px;
}
.home__img_box1__right p{
    font-family:var(--font2);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #E4DEE7;
    margin-bottom: 7px;
}
.home__img_box1__right span{
    font-family: var(--font2);
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    font-size: 32px;
    line-height: 40px;
    color: var(--card-button-text-color-white);
}
/* <!-- home end --> */

/* <!-- Live Auctions start --> */

/* <!-- Live Auctions end --> */

/* <!-- How it works  start --> */

/* <!-- How it works  end --> */

/* <!-- Popular Collections start --> */

/* <!-- Popular Collections end --> */

/* <!-- Explore By Categories start --> */

/* <!-- Explore By Categories end --> */

/* <!-- Top Creators start --> */

/* <!-- Top Creators end --> */

/* <!-- Contact start --> */

/* <!-- Contact end --> */

/* <!-- Footer start --> */

/* <!-- Footer end --> */